<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Thyroid Disease Classification - Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<style>
		#wrapper {
			background-image: url("{{ url_for('static', filename='img/home-bg.jpg') }}");
		}
	</style>
</head>

<body>

	<div id="wrapper"></div>

	<div id="title-container">
		<div>
			<h1>Thyroid Disease<br>Classification</h1>
			<a href="/predict">
				<button id="predict-btn">predict</button>
			</a>
		</div>
	</div>

	<div class="section">
		<div class="box1">
			<img src="../static/img/thyroid-gland1.jpg">
		</div>
		<div class="box2">
			<div>
				<h1>Thyroid Gland</h1>
				<p>The thyroid gland is part of the endocrine system (along with the adrenal glands, hypothalamus, pituitary, ovaries, and testes). The thyroid gland releases hormones into the bloodstream to control your metabolism, which is the primary way your body uses energy. In addition to metabolism, the hormones it releases also help with processes like bone growth, brain development, heart rate, digestion, muscle functioning, body temperature, menstrual cycles, and more. The thyroid can also produce more hormones when needed, such as to help increase body temperature or when a woman is pregnant.</p>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="box2">
			<div>
				<h1>Thyroid Gland Function</h1>
				<p>The thyroid gland is controlled by the hypothalamus and the pituitary gland, which are both located in the brain. The hypothalamus releases thyrotropin-releasing hormone (TRH), which then tells the pituitary gland to release thyroid-stimulating hormone (TSH). Together the hypothalamus and pituitary gland know when thyroid hormone levels are too high or too low, and by secreting an appropriate amount of TRH and TSH they can signal to the thyroid gland how much or how little hormones it needs to make.</p>
				<p>One of the most important elements behind producing thyroid hormones is iodine, which we get a majority of through food or supplements. Both T3 and T4 need iodine in order to be produced by the thyroid gland. Once iodine makes its way to the thyroid it gets converted into T3 and T4. These are then released into the bloodstream to help with multiple functions like increasing the metabolic rate in the body, growth, brain development, and more.</p>
			</div>
		</div>
		<div class="box1">
			<img src="../static/img/thyroid-gland2.jpg">
		</div>
	</div>

	<div class="section">
		<div class="box1">
			<img src="../static/img/thyroid-gland-anatomy.jpg">
		</div>
		<div class="box2">
			<div>
				<h1>Thyroid Gland Anatomy</h1>
				<p>The irregular structure is encased in the pretracheal part of the deep cervical fascia . It is made up of a central isthmus that connects the right and left lobes of the organ inferomedially. Between the ages of 8 months to 15 years, the thyroid gland appears the same in both males and females. However, the gland is slightly heavier in females over the age of 15 than in male counterparts of similar age.</p>
				<p>Each lobe is roughly conical in shape, with each apex pointing superolaterally and their bases inferomedially (between the 4th and 5th tracheal rings). At their widest point, each lobe measures about 3 cm in the transverse plane, and 2 cm in the anteroposterior dimension. The lobes are roughly 5 cm long. The isthmus lies above the 2nd or 3rd tracheal cartilages and measures 1.25 cm in both the transverse and vertical planes. In some individuals, there may be a third lobe of the thyroid gland known as the pyramidal lobe. It is also a conical structure that extends from the isthmus up to the hyoid bone. In some cases, it may also arise from the inferomedial aspect of either left or right lobes; but it is more commonly seen arising from the left lobe.</p>
			</div>
		</div>
	</div>

	<footer></footer>

</body>
</html>